body {
  background-image: url(images/tea.jpg);
  background-size: cover;
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1,
h2,
p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  box-shadow: 11px 40px 64px 37px rgba(77, 77, 37, 0.75);
  -webkit-box-shadow: 11px 40px 64px 37px rgba(77, 77, 37, 0.75);
  -moz-box-shadow: 11px 40px 64px 37px rgba(77, 77, 37, 0.75);
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 500px;
  opacity: 0.75;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 15%;
}
img {
  /* width: 50px; */
  /* padding-left: 224px; */
  /* display: inline-block; */
  margin: 0 auto;
  background-color: aqua;
  width: 50px;
  height: 50px;
  display: block;
}
hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

h1,
h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.flavor,
.loose-tea {
  text-align: left;
  width: 70%;
  display: inline-block;
}

.price {
  text-align: right;
  width: 24%;
  font-weight: 600;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}
a:link {
  color: blanchedalmond;
}
a:hover {
  color: aqua;
}
/* responsiveness */
/* 
@media only screen and (max-width: 375px) {
  .menu {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 375px) {
  .flavor,
  .loose-tea {
    text-align: left;
    width: 72%;
  }
}
@media only screen and (max-width: 375px) {
  .flavor {
    width: 74%;
    text-align: left;
  }
}
@media only screen and (min-width: 375px) {
  .img {
    display: inline-block;
    padding-left: 99px;
  }
} */
